<html>

<head>
    <meta charset="utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Movies</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


    <script src="config.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="features/MainCtrl/MainCtrl.js"></script>
    <script src="services/DataApiService/DataApiService.js"></script>
</head>

<body ng-app="videoStreamingApp" ng-controller="MainCtrl as main">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Streamer</a>
            </div>
            <!-- <div class="nav navbar-nav">

                <ul class="breadcrumb">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>

    <ol class="vidoes">
        <li ng-repeat="video in main.videos">
            <a ng-href="viewVideo.php?fileUrl={{video.url}}" target="_blank">{{video.file_name}}</a>
        </li>
    </ol>


</body>

</html>