* {
    box-sizing: border-box;
}

body {
    padding: 50px 0px 0px 0px;
    margin: 0px;
    font: 14px/1.4em Arial;
}

ol {
    padding-left: 23px;
}

.vidoes li {
    margin: 5px 0px;
    padding: 10px 10px;
    word-break: break-word;
}

.nav .breadcrumb {
    margin: 10px 0px;
    background-color: #444;
}

.nav .breadcrumb li {
    color: #fff;    
}